
{
    <li class="dropdown" data-admin-menu>
        <a href="#">
            Admin
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Minor Entities</li>
            <li class="divider" />
            <li><a href="/Admin/Section">&nbsp;&nbsp;Section</a></li>
            <li><a href="/Admin/Outlet">&nbsp;&nbsp;Outlet</a></li>
            <li><a href="/Admin/ItemType">&nbsp;&nbsp;Item Type</a></li>
            <li><a href="/Admin/OutletType">&nbsp;&nbsp;Outlet Type</a></li>
            <li><a href="/Admin/OutletLinkText">    &nbsp;&nbsp;Outlet Link Text</a></li>
            <li class="divider" />
            <li class="dropdown-header">Major Entities</li>
            <li class="divider" />
            <li><a href="/Admin/Item">&nbsp;&nbsp;Item</a></li>
            <li><a href="/Admin/Outlet">&nbsp;&nbsp;Oulet</a></li>
            <li><a href="/Admin/Diary">    &nbsp;&nbsp;Diary</a></li>
            <li class="divider" />
            <li class="dropdown-header">Connector Entities</li>
            <li class="divider" />
            <li><a href="/Admin/OutletItem">&nbsp;&nbsp;Outlet Item</a></li>
            <li class="divider" />
            <li class="dropdown-header">Users & Diary</li>
            <li class="divider" />
            <li><a href="/Account">    &nbsp;&nbsp;Users & Diary</a></li>
        </ul>
    </li>
}